
  <img src="assets/FAB-CV.jpg" id="placeholder" />

<div class="container">
  <div id="header" class="pl-5 pt-5 pb-2">
    <h1 class="pl-1 ml-5"><b>Miller/F</b></h1>
    <h1 class="pl-1 ml-5">Fabien Millerand's resumé</h1>
  </div>

  <div class="container-page">
    <div class="pl-5 ml-5">
      <div id="me" class="row">
        <div class="col">
          <div>
            <img
              class="icon"
              src="/assets/images/svg/email.svg"
            />fab@millerf.com
          </div>
          <div>
            <img class="icon" src="/assets/images/svg/phone.svg" />+34
            634.810.465
          </div>
          <div>
            <img class="icon" src="/assets/images/svg/link.svg" />
            <a href="https://www.millerf.com" target="_blank"
              >http://www.millerf.com</a
            >
          </div>
          <div>
            <img class="icon" src="/assets/images/svg/link.svg" />
            <a href="http://www.github.com/millerf" target="_blank"
              >http://www.github.com/millerf</a
            >
          </div>
          <div>
            <img class="icon" src="/assets/images/svg/link.svg" />
            <a
              href="https://www.linkedin.com/in/fabien-millerand-12a30012/"
              target="_blank"
              >LinkedIn</a
            >
          </div>
        </div>
        <div class="col">
          <div>
            <img class="icon" src="/assets/images/svg/me.svg" /><span
              >Age:&nbsp;</span
            >{{ age }}<span class="px-1">|</span>
            <span>Nationality: </span> French
          </div>
          <div>
            <img class="icon" src="/assets/images/svg/location.svg" />Based in
            Mallorca (Spain)
          </div>
        </div>
      </div>
    </div>

    <div class="pl-5 ml-5">
      <div class="row">
        <div class="col">
          <div class="content">
            <h2>Education</h2>
            <ul>
              <li>
                <div class="title">
                  Bsc +2 / Masters 2006-2007
                  <sub>University Paul Sabatier (Toulouse, France)</sub>
                </div>
                <ul>
                  <li>Top of my class</li>
                  <li class="text">
                    Specialization in AI, Robotic sciences, Computer vision,
                    Shape Recognition, Image Processing
                  </li>
                </ul>
              </li>
              <li>
                <div class="title">
                  Bsc 2004-2006
                  <sub>University Paul Sabatier (Toulouse, France)</sub>
                </div>
                <ul>
                  <li>Achieved with Honours</li>
                  <li class="text">
                    Majors in Networking, Sofware programmation and
                    development(C,C++,Java,Camel,Prolog), Logic, Databases
                    (Oracle SQL) and web development
                  </li>
                  <li>Minors in AI and Image processing</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="content">
            <h2>
              Community give back
              <sub>(Volunteering / Open Source)</sub>
            </h2>
            <ul>
              <li>
                <div class="title">Github</div>
                <ul>
                  <li class="text subtitle">
                    <a
                      href="https://github.com/millerf/django-channels-jsonrpc"
                      target="_blank"
                    >
                      Django-channels-jsonrpc
                    </a>
                    <span class="red">&</span>
                    <a
                      href="https://github.com/millerf/django-channels2-jsonrpc"
                      target="_blank"
                    >
                      Django-channels2-jsonrpc
                    </a>
                  </li>
                  <li class="text">
                    Json-RPC wrappers for the
                    <a href="https://github.com/django/channels" target="_blank"
                      >Django channels project</a
                    ><br />
                    (for versions 1 and 2)
                  </li>
                </ul>
                <ul>
                  <li class="text subtitle">
                    <a
                      href="https://github.com/millerf/ng-pinyes-d3"
                      target="_blank"
                    >
                      Ng-pinyes-d3
                    </a>
                  </li>
                  <li class="text">
                    Angular module to easily bulidl and manage
                    <a
                      href="https://fr.wikipedia.org/wiki/Castells"
                      target="_blank"
                      >pinyes and castells</a
                    >
                    using the excellent
                    <a href="https://d3js.org/" target="_blank">d3.js</a>
                  </li>
                </ul>
              </li>

              <li>
                <div class="title">Apps</div>
                <ul>
                  <li  class="text subtitle">
                    <a
                      href="https://apps.apple.com/es/app/castellers-de-mallorca/id1451883699"
                      target="_blank"
                    >
                      Application Castellers de Mallorca
                    </a>
                  </li>
                  <li>
                    An app to manage and organize events for the whole
                    association.
                  </li>
                </ul>
              </li>

              <li>
                <div class="title">Non digital</div>
                <ul>
                  <li class="subtitle">Interventions</li>
                  <li>
                    Multiple interventions in schools to explain what my job as
                    an independent developer was. A really interesting
                    experience to interact and share with 17 years-old students.
                  </li>
                </ul>
                <ul>
                  <li class="subtitle">Volunteering</li>
                  <li>
                    Weekly work as a help distributing food to the people that
                    need it with the
                    <a href="http://www.zaqueo.org/" target="_blank"
                      >association Zaqueo</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="col">
          <div class="content" id="computing_bg">
            <div id="computing_position">
              <div>
                <h2>Computing skills</h2>
                <ul>
                  <li>
                    <div class="title">Operating Systems & IDEs</div>
                    <ul>
                      <li>Mac OS, Linux, Unix, Microsoft Windows</li>
                      <li>WebStorm and PyCharm</li>
                      <li>
                        Eclipse, Macromedia Dreamweaver, Photoshop, Flash CS5
                      </li>
                      <li>Borland C++ Builder 5, Microsoft Visual Studio</li>
                    </ul>
                  </li>
                  <li>
                    <div class="title">Versioning technologies</div>
                    <ul>
                      <li>Git, Gitlab, Github</li>
                      <li>Docker</li>
                      <li>Continuous integration - Travis and Gitlab</li>
                    </ul>
                  </li>
                  <li>
                    <div class="title">Databases and Data-flow</div>
                    <ul>
                      <li>MySQL and PostgreSQL</li>
                      <li>Elastic Search</li>
                      <li>Redis</li>
                    </ul>
                  </li>

                  <li>
                    <div class="title">Web development languages</div>
                    <ul>
                      <li>Javascript / Typescript</li>
                      <li>Ajax, XHTML (HTML+CSS), Php, PERL</li>
                      <li>
                        Developpement on Apache Servers, ActionScript 2 and 3,
                      </li>
                    </ul>
                  </li>
                  <li>
                    <div class="title">Frameworks and Concepts</div>
                    <ul>
                      <li>React JS, React Native</li>
                      <li>Ionic, Angular JS , Angular 4/5, Websockets</li>
                      <li>
                        JQuery, Prototype (AJAX), tinyMCE (textEditor
                        web-based), flvplayer (free flash video player) CORBA
                        (Broken Object Architecture)
                      </li>
                    </ul>
                  </li>

                  <li>
                    <div class="title">Sofware development languages</div>
                    <ul>
                      <li>Python (Django)</li>
                      <li>C, C++, Java (SDK 1.5)</li>
                      <li>
                        Objective Caml, Prolog, SQL, Assembler 68000, UML 2.0,
                        .NET C++
                      </li>
                    </ul>
                  </li>
                  <li>
                    <div class="title">Scripts</div>
                    <ul>
                      <li>C shell (korn and bash), MATLAB, PERL (basics)</li>
                    </ul>
                  </li>
                  <li>
                    <div class="title">CMS</div>
                    <ul>
                      <li>Wordpress, SPIP</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="employment" class="content content_no_gutters">
      <h2 class="pl-5 ml-5">Employment history</h2>
      <ul>
        <li class="ml-2 mr-4">
          <h3 class="title mx-5 pb-1">
            <img class="icon mr-3" src="../assets/images/svg/computer.svg" />
            COMPUTER ENGINEERING
          </h3>
          <ul class="history">
            <li>
              <div class="title">
                Plexus
                <a href="https://www.plexus.es" target="_blank"
                  >www.plexus.es</a
                >
              </div>
              <div class="date">03/19 - present</div>
              <div class="summary">
                <p>
                  Project Manager for foreign projects<br />
                  Team leader / Senior Developer<br />
                  In charge of multiple projects - Back-end and Front-end<br />
                </p>
              </div>
              <img src="../assets/images/work/plexus.png" />
            </li>

            <li>
              <div class="title">
                Farmerswife - Cirkus
                <a href="https://www.cirkus.com" target="_blank"
                  >www.cirkus.com</a
                >
              </div>
              <div class="date">03/18 - 03/19</div>
              <div class="summary">
                <p>
                  Team leader / Senior Developer<br />
                  In charge of the front-end team<br />
                  In charge of hybrid Android app (Cordova based)<br />
                  Migrated the entire web app from Angular JS to Angular 6<br />
                </p>
              </div>
              <img src="../assets/images/work/cirkus.png" />
            </li>
            <li>
              <div class="title">Mozaik project - production stage</div>
              <div class="date">12/14 - 01/18</div>
              <div class="summary">
                <p>
                  Project in Home automation System<br />
                  Developed the production version<br />
                  Developed the Continuous integration with Gitlab CI and Docker
                  for deployment<br />
                  Rebuilt the backend in Python (Django and Celery)<br />
                  Rebuilt the front-edn in Angular 4 / Ionic / Ionic Native<br />
                </p>
              </div>
              <img src="/assets/images/work/mozaik.png" />
            </li>
            <li>
              <div class="title">Mozaik project - enhancement stage</div>
              <div class="date">12/14 - 12/17</div>
              <div class="summary">
                <p>
                  Project in Home automation System<br />
                  Enhance functionalities and enhance GUI<br />
                  I had to manage 3 teams (one in Vietnam for the front-end, one
                  in Australia for the back-end, and a developer in Spain),
                  <br />
                  while developing the Local Server<br />
                  I also ended-up rebuilding the front-end<br />
                  - Software management: JIRA.<br />
                  - Front-end: HTML / Javascript (Angular JS) and Ionic for
                  deployment<br />
                  - Local Server: Python<br />
                  - Back-end: Python (Django)<br />
                  <br />
                  Learn and master Python, and Angular JS .
                </p>
              </div>
              <img src="/assets/images/work/mozaik.png" />
            </li>
            <li>
              <div class="title">Mozaik project - prototype stage</div>
              <div class="date">12/14 - 12/17</div>
              <div class="summary">
                <p>
                  Project in Home automation System<br />
                  <br />
                  Developed a prototype: <br />
                  - Front-end: HTML / Javascript (jQuery)<br />
                  - Back-end: PHP<br />
                </p>
              </div>
              <img src="/assets/images/work/mozaik.png" />
            </li>

            <li>
              <div class="title">Freelancer in web development</div>
              <div class="date">05/11 - 09/16</div>
              <div class="summary">
                <p>
                  Freelancer activity.<br />
                  Many websites were developed (main list on
                  <a target="_blank" href="http://www.millerf.com/"
                    >www.millerf.com</a
                  >).<br />
                  I developed my own backend Framework (in PHP 5) I used to
                  develop all my websites. Still in use nowadays.<br />
                  <a target="_blank" href="http://www.project-mirador.org/"
                    >http://www.project-mirador.org/</a
                  ><br />
                  <a target="_blank" href="http://www.cgspectrum.com/"
                    >http:/www.cgspectrum.com/</a
                  ><br />
                  <a target="_blank" href="http://www.lolawigghaircafe.com.au"
                    >http://www.lolawigghaircafe.com.au</a
                  ><br />
                  <a target="_blank" href="http://www.ramdam-magazine.com"
                    >http://www.ramdam-magazine.com</a
                  ><br />
                  <a target="_blank" href="http://www.fast-tickets-service.fr"
                    >http://www.fast-tickets-service.fr</a
                  ><br />
                  <a target="_blank" href="http://www.seedcreative.com.au"
                    >http://www.seedcreative.com.au</a
                  ><br />
                </p>
              </div>
              <div class="ref">Reference : http://www.millerf.com</div>
              <img src="/assets/images/logo.png" />
            </li>

            <li>
              <div class="title">
                C/C++ Developper at Sentient Vision Systems, Melbourne
              </div>
              <div class="date">14/06/08 - 05/03/10</div>
              <div class="summary">
                <p>
                  In charge of the development of the Maritime software, based
                  on image analysis.<br />
                  Development of computerized vision softwares (Kestrel,
                  iSentry)<br />
                  Entire development of an AirNav module (GUI and back-end)
                  <br />
                  IDE: C++ builder 5, Microsoft Visual Studio 2005 (.NET C++)
                </p>
              </div>
              <div class="ref">
                Reference : Paul Boxer ,CEO ( paulb@sentientai.com)
              </div>
              <img src="../assets/images/work/sentient.png" />
            </li>
            <li>
              <div class="title">
                Development of a Facebook application as a personal project
              </div>
              <div class="date">February 2008</div>
              <div class="summary">
                <p>Using the PHP Facebook client library</p>
              </div>
              <div class="ref"></div>
              <img src="../assets/images/work/facebook.png" />
            </li>
            <li>
              <div class="title">
                Software development at AIRBUS France (Java, SWING, C/C++)
              </div>
              <div class="date">02/04/07 - 14/09/07</div>
              <div class="summary">
                <p>
                  I developed a keyboard and mouse events player/recorder
                  software on UNIX and Linux in Java (SDK 1.5) and C.<br />
                  That software was for the simulator department. I was in
                  charge of the full cycle of development (SDLC),<br />
                  which included a full presentation to the software team at the
                  end of the project.
                </p>
              </div>
              <div class="ref">
                Reference : Jean-François Longuet (
                jean-francois.longuet@airbus.com)
              </div>
              <img src="../assets/images/work/airbus.png" />
            </li>
            <li>
              <div class="title">Web developer (XHTML, PHP, AJAX)</div>
              <div class="date">01/01/05 - 14/03/05</div>
              <div class="summary">
                <p>
                  I developed the back-office of the website of a Swiss
                  communication company <br />
                  (Rive gauche) : http://www.rivegauchegeneve.ch <br />
                  The main objective was to use the same design as the website
                  and to modify it in WYSIWYG (What You See Is What You Get), as
                  in the web 2.0. <br />
                </p>
              </div>
              <div class="ref">
                Reference : Francois Riant (f.riant@mooonstudio.com)
              </div>
              <img src="../assets/images/work/rivegauche.png" />
            </li>
            <li>
              <div class="title">CMS developer (XHTML, PHP)</div>
              <div class="date">01/12/06 - 15/02/07</div>
              <div class="summary">
                <p>
                  I took over and developed for a project of CMS (Content
                  Management System) for the Xiizeos Society
                  (http://www.xiizeos.com).<br />
                  This CMS contains an entire management system for a shop
                  (cashiers, customers and products managing), and a website
                  boutique as well.<br />
                  All of it under a « GPL ver.3 » licence.<br />
                  My job was to clean up the code, expand all the
                  functionnalities and debug the previous work.<br />
                  Some examples of the use of the CMS can be seen at
                  http://www.xiizeos.com and http://www.sbe-paint.com
                </p>
              </div>
              <div class="ref">
                Reference : Sebastien Vidotto (sebastien.vidotto@xiizeos.fr)
              </div>
              <img src="../assets/images/work/xiizeos.png" />
            </li>
            <li>
              <div class="title">Web developer (XHTML, PHP)</div>
              <div class="date">11/09/06 - 01/12/06</div>
              <div class="summary">
                <p>
                  The website is http://www.gites-urbains.com. Shelters and
                  cottages owners can promote their owns, customers can book
                  rooms. It is a simple and efficient booking website.
                </p>
              </div>
              <div class="ref">
                Reference : Sebastien Vidotto (sebastien.vidotto@xiizeos.fr)
              </div>
              <img src="../assets/images/work/xiizeos.png" />
            </li>
            <li>
              <div class="title">Maintenance technician</div>
              <div class="date">01/01/05 - 14/03/05</div>
              <div class="summary">
                <p>
                  Worked on maintenance, stations installation on a Windows 2003
                  Server.<br />
                  This was during my stay in Florida, US.
                </p>
              </div>
              <div class="ref">
                Reference : Gus Fabian (tel:(954) 563-6667 /
                gus@lightingguru.com
              </div>
              <img src="../assets/images/work/LBU.png" />
            </li>
          </ul>
        </li>
        <li class="ml-2 mr-4" id="yachting">
          <h3 class="title mx-5 pb-1">
            <img class="icon mr-3" src="../assets/images/svg/yachting.svg" />
            YATCHING (STCW '95 LICENCE)
          </h3>
          <ul class="history">
            <li>
              <div class="title">Sailing Yacht Brown Eyed Girl AMEL 55'</div>
              <div class="date">mid- June- 4th July 2010</div>
              <div class="summary">
                <p>
                  Crew member from Tonga to Fiji
                </p>
              </div>
              <div class="ref">
                Reference : Skipper Joe S/V Brown Eyed Girl WDE2031@sailmail.com
              </div>
              <img src="../assets/images/yachting/BEG.png" />
            </li>
            <li>
              <div class="title">Sailing Catamaran Noe Luna ( Lagoon 421)</div>
              <div class="date">1st June- mid-June 2010</div>
              <div class="summary">
                <p>
                  Crew member from Tahiti to Tonga
                </p>
              </div>
              <div class="ref">
                Reference : Skipper Matthieu Vermersch mvermersch@evcap.com.sg
              </div>
              <img src="../assets/images/yachting/noeluna.png" />
            </li>
            <li>
              <div class="title">Sailing Yatch 46'</div>
              <div class="date">Every Wednesday/ Saturday in April 2009</div>
              <div class="summary">
                <p>
                  Crew member – Royal Victorian Yacht Club
                </p>
              </div>
              <div class="ref">
                Reference : Skipper Ray Borrett rborrett@bigpond.com
              </div>
            </li>
            <li>
              <div class="title">SailingYatch 20'</div>
              <div class="date">Every Saturday in July-August 2008</div>
              <div class="summary">
                <p>
                  Crew member - Royal Melbourne YachtClub
                </p>
              </div>
              <div class="ref">
                Reference : Capitain/Skipper AndrewJohnson (+614.17341.6863)
              </div>
              <img src="../assets/images/yachting/MYC.png" />
            </li>

            <li>
              <div class="title">SailingYatch 112' Perrini Navi PARSIFALII</div>
              <div class="date">
                08/09/06 - 08/10/06 and 30/05/05 - 07/07/05
              </div>
              <div class="summary">
                <p>
                  First Mate during the Monaco Boat Show 2005 08/09/06 -
                  08/10/06<br />
                  Watch Head - crossing from Sin Maarten (West Indies) to
                  Antibes (France) 30/05/05 - 07/07/05<br />
                </p>
              </div>
              <div class="ref">
                Reference : Capitain/Skipper Bernard TARRES ( +336.71.56.31.73 /
                bernardtarres@yahoo.fr )
              </div>
              <img src="../assets/images/yachting/parsifal2.png" />
            </li>
            <li>
              <div class="title">Sailing Yatch / Ketch 148' MEPHISTO</div>
              <div class="date">01/09/06 - 18/09/06</div>
              <div class="summary">
                <p>
                  First mate for a charter around Corsica
                </p>
              </div>
              <div class="ref">
                Reference : Capitain/Skipper Bernard TARRES ( +336.71.56.31.73 /
                bernardtarres@yahoo.fr )
              </div>
              <img src="../assets/images/yachting/mephisto.png" />
            </li>
            <li>
              <div class="title">Motor Yatch Magusta 72' JUST M</div>
              <div class="date">08/07/05 - 31/07/05</div>
              <div class="summary">
                <p>
                  First mate / Steward for a charter around the Mediterranean
                  sea
                </p>
              </div>
              <div class="ref">
                Reference : Owner Oleg MEDVEDEV ( +7(095) 931 9906)
              </div>
              <img src="../assets/images/yachting/justM.png" />
            </li>
            <li>
              <div class="title">Motor Yatch 254' HELIOS</div>
              <div class="date">03/30/05 - 02/07/05</div>
              <div class="summary">
                <p>
                  Cook Helper / Steward
                </p>
              </div>
              <div class="ref">
                Reference : Gus Fabian (tel:(954) 563-6667 /
                gus@lightingguru.com
              </div>
              <img src="../assets/images/yachting/helios.png" />
            </li>
            <li>
              <div class="title">Other boats</div>
              <div class="date">January- March 2005</div>
              <div class="summary">
                <p>
                  Multiple dayworks in Sin Maarten (West Indies)
                </p>
              </div>
              <div class="ref"></div>
            </li>
          </ul>
        </li>
        <li id="extrajobs">
          <h3 class="title mx-5 pb-1">
            <img class="icon mr-3" src="../assets/images/svg/extra_jobs.svg" />
            EXTRA JOBS
          </h3>
          <ul class="history mx-5">
            <li>
              10/04/10-20/04/10 <span class="position">Waitor</span>
              <span class="location">'Quai des iles' restaurant, Marina Tahina, </span
              ><span class="country">Tahiti </span>
            </li>
            <li>
              01/07/08-12/12/08
              <span class="position">Bar Tender during weekends</span>
              <span class="location">'Robarta' night club, Melbourne (St Kilda) </span
              ><span class="country">AUS </span>
            </li>
            <li>
              29/03/08-15/06/08 <span class="position">Bar Tender</span>
              <span class="location">Restaurant 'Nick's Bondi', Sydney(Bondi) </span
              ><span class="country"> AUS </span>
            </li>
            <li>
              15/01/08-01/03/08 <span class="position">Runner</span>
              <span class="location">Restaurant 'Nick's Bondi', Sydney(Bondi) </span
              ><span class="country">AUS </span>
            </li>
            <li>
              06/01/08-01/03/08 <span class="position">Kitchen Hand</span>
              <span class="location">'Verandah Bar & Restaurant', Sydney(CBD) </span
              ><span class="country">AUS </span>
            </li>
            <li>
              13/07/06-31/08/06
              <span class="position">Waiter/Barman /Runner</span>
              <span class="location">Restaurant 'Cap Marine', Anglet </span
              ><span class="country">FR </span>
            </li>
            <li>
              October 2005 to June 2006
              <span class="position">Salesperson French Bakery</span>
              <span class="location">Jules&Marie, Ramonville-St-Agnes </span
              ><span class="country">FR </span>
            </li>
            <li>
              08/08/05 - 09/01/05 <span class="position">Cook / Pizzaïolo</span>
              <span class="location">'Le Coconut' Bar/Restaurant , Anglet </span
              ><span class="country">FR </span>
            </li>
            <li>
              11/27/04 - 12/27/04
              <span class="position">Second Chef (part-time)</span>
              <span class="location">'ST-HUBERT' Rotisserie, Montréal </span
              ><span class="country">CAN </span>
            </li>
            <li>
              11/27/04 au 12/27/04
              <span class="position">Shop Assistant (part-time)</span>
              <span class="location">Société Archambault, Montréal </span
              ><span class="country">CAN </span>
            </li>
            <li>
              12/17/03 - 10/26/04
              <span class="position">Team member then Formative</span>
              <span class="location">MC DONALD'S,Rangueil </span
              ><span class="country">FR </span>
            </li>
            <li>
              07/07/03 - 10/10/03
              <span class="position">Landscape gardener P2N1 level</span>
              <span class="location">Society ELAPARC Castanet </span
              ><span class="country">FR </span>
            </li>
            <li>
              02 - 04/16/02
              <span class="position">Technician in salad conditionning</span>
              <span class="location">Society JARDINS DE RETZ, Nantes </span
              ><span class="country">FR </span>
            </li>
            <li>
              07/01/02 - 08/31/02
              <span class="position">Handworker in fresh fruits</span>
              <span class="location">Society LOGIDIS, Colomiers </span
              ><span class="country">FR </span>
            </li>
            <li>
              August 2000 <span class="position">Salesperson</span>
              <span class="location">'Aux Délices de Médicis' Catery, Paris</span
              ><span class="country"> FR </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="ml-5 pl-5">
      <h2>LANGUAGES</h2>
      <ul id="languages">
        <li>French : Native tongue</li>
        <li>
          English : Fluent. Studied 12 years in school , improved in the US, Sin
          Maarten (West Indies) and Australia for 3 years, written and read
        </li>
        <li>Spanish : Fluent: 6 years living in Mallorca</li>
        <li>Català : A2</li>
        <li>German: Grammar and vocabulary basics</li>
      </ul>
    </div>
    <div class="sub">
      <h2>PERSONAL SKILLS</h2>
      <ul id="extras">
        <li>Licence: Car, motorbike and sailing international licences</li>
        <li>
          Active member of the couchSurfing Project
          (http://www.couchsurfing.com).
        </li>
        <li>
          <div class="title">Culture</div>
          <ul>
            <li>
              Music :guitar (3 year), saxophone (3 years), flûte traversière (9
              years))
            </li>
            <li>Avid reader (novels, thrillers, comics,... )</li>
            <li>All kind of technological news...</li>
          </ul>
        </li>
        <li>
          <div class="title">Sport</div>
          <ul>
            <li>Muay Thai (thaï boxing)</li>
            <li>Hiking</li>
            <li>Skateboard</li>
            <li>Watersports (Kitesurf, Surf, Jet ski, Scuba Diving, …)</li>
            <li>Sailing</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="footer"></div>
</div>
