
@import "~bootstrap/scss/bootstrap";
@import "assets/css/stylesheet.css";
@import "variables.scss";

/* CSS Document */

html, body, * {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro';
  font-weight: normal;
  font-style: normal;
  font-size:20px;
  -webkit-print-color-adjust: exact;
}

.print {
  display: none;
}

body {
  background-color: $grey;
  min-width:640px;
}


@media screen and (max-width: 640px) {
  ul.center {
    width: 100%;
    margin-left: 0;
    left: 0;
    border: none;
    border-radius: none;

  }
}
