
@import "~bootstrap/scss/bootstrap";
@import "assets/css/stylesheet.css";
@import "variables.scss";

/* CSS Document */

html, body, * {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro';
  font-weight: normal;
  font-style: normal;
  font-size:20px;
  -webkit-print-color-adjust: exact;
}

.print {
  display: none;
}

body {
  background-color: $grey;
}

@media print {
  body {
    background-color: white;
  }
}

svg {
  // Used for CSS filters
  // display: none on firefox wouldn't show the images.
  position: absolute;
  top: -999999px;
}
