
.slider-container{
  background-color: transparent;
  position: relative;
}

.slider{
  margin-top:10px;
  height: 2px;
  background-color: red;
}

.handle{
  width: 11px;
  height: 11px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: -4px;
}
